#login_form {
  max-width: 20em;
  margin: 0 auto;

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  label {
    font-weight: bold;
    padding: 0.5em 0 0.5em 0;
    display: inline-block;
  }

  .label {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  /* Floating column for inputs: 75% width */
  .input {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  /* Clear floats after the columns */
  .group:after {
    content: "";
    display: table;
    clear: both;
  }

  button.submit {
    background-color: #c0c0c0;
    color: #000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 6px;
  }
  
}

@media screen and (max-width: 768px) {
  #login_form {
    .input,
    .label,
    input[type="submit"],
    input[type="password"] {
      width: 100%;
      margin-top: 0;
    }
  }
}
