#AboutMe {

  min-height: 100vw;
  position: relative;

  > div.fade-out {
    position: absolute;
    right: 0;
  }
  #about {
    a {
      border-bottom: 1px dotted black;
    }
  }
  .vertical-timeline::before {
    background: #f1f1f1;
  }
}
